body {
    background: lightgray;
    text-align:center;
}

.row{
    text-align:center;
    border-top: 5px solid black;
    margin-top: 0%;
}

#utility #logout{
     right: 1%;
    background-color: steelblue;
 }

#utility #sailor{
    left: 1%;
    background-color: chocolate;
}
#utility #operator{
    left: 7%;
    background-color: chocolate;
}

#utility #chat{
    left: 14.5%;
    background-color: chocolate;
}

#utility button:hover,
#utility button:focus
{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

#utility{
    margin: 0% auto;
    height: 40px;
}